.chat {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  border-left: 0.2px solid rgba(209, 212, 214, 0.2);
}

.chat__header {
  display: flex;
  align-items: center;
  padding: 10px 0 17px 10px;
}

.chat__headerInfo {
  margin-left: 1rem;
}

.chat__headerInfo h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.chat__headerInfo p {
  color: var(--drk-font-color);
  font-size: 0.9rem;
}

.chat__body {
  flex: 1;
  background-color: var(--drk-secondary-background);
  overflow: auto;
  padding: 25px;
}

.chat__sender {
  margin-left: auto;
  background-color: var(--drk-sender-message) !important;
}

.chat__message {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 0.88rem;
  background-color: var(--drk-receiver-message);
  width: fit-content;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 11px;
  color: #fff;
  max-width: 35vw;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.chat__name {
  color: lime;
  padding-bottom: 2px;
}

.chat__text {
  padding-bottom: 10px;
}
.chat__time {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 0.7rem;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.chat__footer > form {
  flex: 1;
  display: flex;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 12px 20px;
  background-color: var(--drk-secondary-background);
  font-size: 1rem;
  color: #ffff;
}

.chat__footer > form > button {
  display: none;
}

.chat__footer .MuiSvgIcon-root {
  margin: 0 1px;
  font-size: 1.7rem;
  color: var(--drk-font-color);
}
