.app {
  height: 100vh;
  width: 100%;
}

.app__body {
  background-color: var(--drk-primary-background);
  transition: all 0.4s ease-in-out;
  display: flex;
  height: 100%;
}

.modal__background {
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.modal__showing__true {
  opacity: 1;
  pointer-events: visible;
}
