@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --drk-primary-background: #2a2f32;
  --drk-secondary-background: #131c21;
  --drk-font-color: #b1b3b5;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
