@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --drk-primary-background: #2a2f32;
  --drk-secondary-background: #131c21;
  --drk-font-color: #b1b3b5;
  --drk-receiver-message: #262d31;
  --drk-sender-message: #056162;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--drk-secondary-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--drk-primary-background);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
